<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Couriers</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styless.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand">BidyShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if 'username' not in session %}
                                <li><a class="dropdown-item" href="{{url_for('login')}}">Register/Login</a></li>
                                {% endif %}
                                {% if 'username' in session %}
                                <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        
                        {% if 'username' in session %}
                        <div class=""><a class="btn btn-outline-dark mt-auto" href="{{url_for('account')}}">
                            <i class="bi-person-fill me-1"></i>
                            Profile
                        </a>
                        </div>
                        {% endif %}
                    </form> 
                    </form> 
            </div>
        </nav>
        <!-- Section-->
        <section class="py-5">
            <div class="text-center text-black float-left">
                <p class="lead fw-large text-black-70 mb-0">
                    <h1>Hello, {{nama}}!</h1>
                <p>This is the order you have to deliver right now.</p>
                {% for row in data %}
                <div class="container px-4 px-lg-5 mt-5 float-left">              
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">    
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="/static/assets/images/{{row[7]}}/{{row[8]}}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-left">
                                        <!-- Product name-->
                                        <h6 class="fw-bolder">Alamat: {{row[0]}}</h6>
                                        <!-- Product price-->
                                        Nama penerima: {{row[1]}}
                                        <p>
                                        Tanggal: {{row[5]}}
                                        </p>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/details_pengiriman?view_pengiriman={{row[3]}}">See Details</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
    
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BidyShop 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scriptss.js"></script>
    </body>
</html>

