<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BidyShop Admin-Item</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/style.css" />
    <script src="lupa.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2><b>Item</b> Manager</h2>
              </div>
              <div class="col-sm-6">
                <a href="/admin/add" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Tambah Item Baru</span></a>
                <a href="{{url_for('logout')}}" class="btn btn-danger"><i class="material-icons">&#xe879;</i> <span>Log out</span></a>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>
                  <span class="custom-checkbox">
                    <input type="checkbox" id="selectAll" />
                    <label for="selectAll"></label>
                  </span>
                </th>
                <th>ID</th>
                <th>Nama Barang</th>
                <th>Harga</th>
                <th>Deskripsi</th>
                <th>Berat</th>
                <th>Stok</th>
                <th>Kategori</th>
                <th>view</th>
                <th>Total Beli</th>
                <th>Waktu</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for row in rows %}
              <tr>
                <td>
                  <span class="custom-checkbox">
                    <input type="checkbox" id="checkbox1" name="options[]" value="1" />
                    <label for="checkbox1"></label>
                  </span>
                </td>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[8]}}</td>
                <td>{{row[9]}}</td>
                <td>{{row[10]}}</td>
                <td>
                  <a href="#!" class="edit" data-toggle="modal" data-target = "#editItemModal{{ row.0 }}" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                  <a href="" onclick="return confirm('Yakin ingin menghapus data ini?')"  ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                </td>
              </tr>
          </div>
      </div>
    </div>

    <!-- Edit Modal HTML -->
    <div id="editItemModal{{ row.0 }}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="{{url_for('update_barang')}}" method = "post" enctype="multipart/form-data">
            <div class="modal-header">
              <h4 class="modal-title">Edit Item</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Nama Barang</label>
                <input type="hidden"  name = "id_barang" value="{{ row.0 }}" />
                <input type="text" class="form-control" name = "nama_barang" value="{{row.1}}" autocomplete="off" />
              </div>
              <div class="form-group">
                <label>Harga</label>
                <input type="text" name = "harga" value="{{row.2}}" class="form-control" autocomplete="off" />
              </div>
              <div class="form-group">
                <label>Deskripsi</label>
                <input type="text" name = "deskripsi" value="{{row.3}}" class="form-control" autocomplete="off" />
              </div>
              <div class="form-group">
                <label>Berat</label>
                <input type="text" name = "berat" value="{{row.4}}" class="form-control" autocomplete="off" />
              </div>
              <div class="form-group">
                <label>Stok</label>
                <input type="text" name = "stok" value="{{row.5}}" class="form-control" autocomplete="off" />
              </div>
              <div class="form-group">
                <label>Kategori</label>
                <input type="text" name = "kategori" value="{{row.6}}" class="form-control" autocomplete="off" />
              </div>
              <div class="form-group">
                <label>Gambar</label>
                <input type="file" name = "image" class="form-control" />
                <input type="hidden" name = "view" value="{{row.8}}" class="form-control" />
                <input type="hidden" name = "total_beli" value = "{{row.9}}" class="form-control" />
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-danger" data-dismiss="modal" value="Batal" />
              <input type="submit" class="btn btn-success" value="Edit" />
            </div>
          </form>
          {% endfor %}
        </tbody>
      </table>
        </div>
      </div>
    </div>
  </body>
</html>
