<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BidyShop Admin</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/style.css" />
    <script src="lupa.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2><b>Data</b> Jasa Pengiriman</h2>
              </div>
              <div class="col-sm-6">
                <a href="{{url_for('kota')}}" class="btn btn-primary"><i class="material-icons">&#xe89a;</i> <span>Data Kota Tujuan</span></a>
                <a href="{{url_for('data_kurir')}}" class="btn btn-primary"><i class="material-icons">&#xe89a;</i> <span>Data Kurir</span></a>
                <a href="{{url_for('logout')}}" class="btn btn-danger"><i class="material-icons">&#xe879;</i> <span>Log out</span></a>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll" />
                  <label for="selectAll"></label>
                </span>
              </th>
              <th>Code Pengiriman</th>
              <th>Code Transaksi</th>
              <th>Penerima</th>
              <th>Alamat</th>
              <th>Kota Tujuan</th>
              <th>Kode Pos</th>
              <th>Status Transaksi</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
              <td>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox1" name="options[]" value="1" />
                  <label for="checkbox1"></label>
                </span>
              </td>

              <td>{{row[0]}}</td>
              <td>{{row[1]}}</td>
              <td>{{row[2]}}</td>
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
              <td>{{row[5]}}</td>
              <td>{{row[6]}}</td>
              <td>
                <a href="#!" class="edit" data-toggle="modal" data-target = "#editPengiriman{{row.0}}"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                <a href="/admin_pengiriman/{{row.0}}" onclick="return confirm('Yakin ingin menghapus data ini?')" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
              </td>
            </tr>
        </div>
      </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editPengiriman{{row.0}}" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action = "{{url_for('update_pengiriman')}}" method = 'post' >
            <div class="modal-header">
              <h4 class="modal-title">Edit Kota</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input type="hidden" name = "code_pengiriman" value = "{{row.0}}" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Status Transaksi</label>
                <select name = "status_transaksi">
                  <option value="Barang sedang dikemas">Barang sedang dikemas</option>
                  <option value="Pesanan sedang dikirim">Pesanan sedang dikirim</option>
                  <option value="Pesanan sudah diterima">Pesanan sudah diterima</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-warning" data-dismiss="modal" value="Batal" />
              <input type="submit" class="btn btn-info" value="Simpan" />
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </tbody>
  </table>
  </body>
</html>
