<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BidyShop Admin-User</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="lupa.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2><b>Data</b> Transaksi</h2>
              </div>
              <div class="col-sm-6">
                <a href="" class="btn btn-primary"><i class="material-icons">&#xe89a;</i> <span>Data Pemesanan</span></a>
                <a href="{{url_for('logout')}}" class="btn btn-danger"><i class="material-icons">&#xe879;</i> <span>Log out</span></a>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll" />
                  <label for="selectAll"></label>
                </span>
              </th>
              <th>Code Transaksi</th>
              <th>Username</th>
              <th>Nama barang</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Total Barang</th>
              <th>Penerima</th>
              <th>No Telepon</th>
              <th>Status Pembayaran</th>
              <th>Waktu Pemesanan</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
              <td>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox1" name="options[]" value="1" />
                  <label for="checkbox1"></label>
                </span>
              </td>

              <td>{{row[0]}}</td>
              <td>{{row[1]}}</td>
              <td>{{row[2]}}</td>
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
              <td>{{row[5]}}</td>
              <td>{{row[6]}}</td>
              <td>{{row[7]}}</td>
              <td>{{row[8]}}</td>
              <td>{{row[10]}}</td>
              <td>
                <a href="#!" class="edit" data-toggle="modal" data-target = "#edit_trans{{row.0}}" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                <a href="/delete_transaksi/{{ row.0 }}" onclick="return confirm('Yakin ingin menghapus data ini?')"  ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
              </td>
            </tr>
        </div>
      </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="edit_trans{{row.0}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="{{url_for('update_transaksi')}}" method = "post">
            <div class="modal-header">
              <h4 class="modal-title">Ubah Status</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <input type="hidden" name = "code_transaksi" value="{{ row.0 }}" />
              </div>
              <div class="form-group">
                <label>Status Pembayaran</label> <br />
                <select name="status_pembayaran">
                  <option value="pending">Pending</option>
                  <option value="berhasil">Berhasil</option>
                  <option value="gagal">Gagal</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-warning" data-dismiss="modal" value="Batal" />
              <input type="submit" class="btn btn-info" value="Simpan" />
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </tbody>
  </table>
  </body>
</html>
