<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BidyShop Admin-User</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="lupa.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
              <h2><b>Data</b> Penjualan</h2>
              </div>
            </div>
            <br><br>
          </div>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Nama Barang</th>
              <th>Harga</th>
              <th>Stok</th>
              <th>Kategori</th>
              <th>Quantity</th>
              <th>Total harga barang</th>
              <th>Sering dilihat</th>
              <th>Sering dibeli</th>
              <th>Pendapatan</th>
              <th>Waktu transaksi</th>
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
            {% set pendapatan = row[1] * row[7] %}
            <tr>
              <td>{{row[0]}}</td>
              <td>{{row[1]}}</td>
              <td>{{row[2]}}</td>
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
              <td>{{row[5]}}</td>
              <td>{{row[6]}}</td>
              <td>{{row[7]}}</td>
              <td>{{pendapatan}}</td>
              <td>{{row[8]}}</td>
            </tr>
        </div>
      </div>
    </div>
    {% endfor %}
  </tbody>
  </table>
  </body>
</html>
