<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BidyShop Admin-User</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/style.css" />
    <script src="lupa.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-xl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-6">
                <h2><b>Data</b> Kota</h2>
              </div>
              <div class="col-sm-6">
                <a href="/kota/add" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Tambah Data Kota</span></a>
                <a href="{{url_for('admin_pengiriman')}}" class="btn btn-primary"><i class="material-icons">&#xe89a;</i> <span>Data Jasa Pengiriman</span></a>
                <a href="{{url_for('logout')}}" class="btn btn-danger"><i class="material-icons">&#xe879;</i> <span>Log out</span></a>
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll" />
                  <label for="selectAll"></label>
                </span>
              </th>
              <th>ID Kota</th>
              <th>Kota</th>
              <th>Jarak</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
              <td>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox1" name="options[]" value="1" />
                  <label for="checkbox1"></label>
                </span>
              </td>

              <td>{{row[0]}}</td>
              <td>{{row[1]}}</td>
              <td>{{row[2]}}/KM</td>
              <td>
                <a href="#!" class="edit" data-toggle="modal" data-target = "#edit_kota{{row.0}}"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                <a href="/admin_pengiriman/{{row.0}}" onclick="return confirm('Yakin ingin menghapus data ini?')"  ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
              </td>
            </tr>
        </div>
      </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="edit_kota{{row.0}}" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="{{url_for('update_kota')}}" method="POST">
            <div class="modal-header">
              <h4 class="modal-title">Edit Kota</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>ID Kota</label>
                <input type="text" name="id_kota" value="{{row.0}}" class="form-control" required />
              </div>
              <div class="form-group">
                <label>Nama Kota</label>
                <select name="kota">
                  <option value="Bandung">Kota Bandung</option>
                  <option value="Jakarta">Kota Jakarta</option>
                  <option value="Yogya">Kota Yogya</option>
                  <option value="Bogor">Kota Bogor</option>
                </select>
              </div>
              <div class="form-group">
                <label>Jarak</label>
                <input type="text" name="jarak" value="{{row.2}}" class="form-control" required />
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-warning" data-dismiss="modal" value="Batal" />
              <input type="submit" class="btn btn-info" value="Simpan" />
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </tbody>
  </table>
  </body>
</html>
