<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BidyShop Admin-User</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="lupa.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-xxl">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-sm-8">
                <h2><b>Data</b> Penjualan</h2>
              </div>
              <form action="" method="POST">
                <div class="col-sm-6">
                  <select name="bulan">
                    <option value="January">Januari</option>
                    <option value="February">Febuari</option>
                    <option value="March">Maret</option>
                    <option value="April">April</option>
                    <option value="May">Mei</option>
                    <option value="June">Juni</option>
                    <option value="July">July</option>
                    <option value="August">Agustus</option>
                    <option value="September">September</option>
                    <option value="October">Oktober</option>
                    <option value="November">November</option>
                    <option value="December">Desember</option>
                  </select>
                  <input type="submit" class="btn btn-success" value="Terapkan">
                </form>
                <a href="{{url_for('convert_html_to_pdf')}}" class="btn btn-primary"><span>export to pdf</span></a>
                <a href="{{url_for('logout')}}" class="btn btn-danger"><i class="material-icons">&#xe879;</i> <span>Log out</span></a>
              
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Nama Barang</th>
              <th>Harga</th>
              <th>Stok</th>
              <th>Kategori</th>
              <th>Quantity</th>
              <th>Total harga barang</th>
              <th>Yang paling sering dilihat</th>
              <th>Yang paling sering dibeli</th>
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
            <tr>
              <td>{{row[0]}}</td>
              <td>{{row[1]}}</td>
              <td>{{row[2]}}</td>
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
              <td>{{row[5]}}</td>
              <td>{{row[6]}}</td>
              <td>{{row[7]}}</td>
              <td>
                <a href="#!" class="edit" data-toggle="modal" data-target = "#edit_trans{{row.0}}" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                <a href="/delete/{{ row.0 }}" onclick="return confirm('Yakin ingin menghapus data ini?')"  ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
              </td>
            </tr>
        </div>
      </div>
    </div>
    {% endfor %}
  </tbody>
  </table>
  </body>
</html>
