<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>account settings - BidyShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="container light-style flex-grow-1 container-p-y">
      <h4 class="font-weight-bold py-3 mb-4">Account settings</h4>

      <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
          <div class="col-md-3 pt-0">
            <div class="list-group list-group-flush account-settings-links">
              <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Info</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content">
              <div class="tab-pane fade active show" id="account-general">
                <div class="card-body media align-items-center">
                  <img src="/static/assets/images/profiles/profile.png" alt="" class="d-block ui-w-80" />
                  <div class="media-body ml-4">
                    <label class="btn btn-outline-primary">
                      Upload new photo
                      <input type="file" class="account-settings-fileinput" />
                    </label>
                    &nbsp;
                    <button type="button" class="btn btn-default md-btn-flat">Reset</button>

                    <div class="text-light small mt-1">Allowed JPG, GIF or PNG.</div>
                  </div>
                </div>
                <hr class="border-light m-0" />
                {% for user in data %}

                <div class="card-body">
                <form action="{{url_for('account')}}" method="POST">
                  <div class="form-group">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control mb-1" name="username" value="{{user[1]}}" required />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Nama Lengkap</label>
                    <input type="text" class="form-control" name="nama" value="{{user[3]}}" required />
                  </div>
                  <div class="form-group">
                    <label class="form-label">E-mail</label>
                    <input type="text" class="form-control mb-1" name="email" value="{{user[4]}}" required />
                    <div>
                      <div class="form-group">
                        <label class="form-label">No Telepon</label>
                        <input type="text" class="form-control" name="telepon" value="{{user[5]}}" required />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="account-change-password">
                <div class="card-body pb-2">
                  <div class="form-group">
                    <label class="form-label">Current password</label>
                    <input type="password" name="current_password" class="form-control" />
                  </div>

                  <div class="form-group">
                    <label class="form-label">New password</label>
                    <input type="password" name="new_password" class="form-control" />
                  </div>

                  <div class="form-group">
                    <label class="form-label">Repeat new password</label>
                    <input type="password" name="repeat_password" class="form-control" />
                  </div>
                </div>
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %} {% endwith %}
              </div>
              <div class="tab-pane fade" id="account-info">
                <div class="card-body pb-2">
                  <div class="form-group">
                    <label class="form-label">Bio</label>
                    <textarea class="form-control" name="bio" rows="5"></textarea>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Gender</label>
                    <select class="form-control" name="gender">
                      <option value="L">L</option>
                      <option value="P">P</option>
                    </select>
                  <div class="form-group">
                    <label class="form-label">Usia</label>
                    <input type="number" name="usia" class="form-control"/>
                  <div class="form-group">
                    <label class="form-label">Birthday</label>
                    <input type="date" name="birthday" class="form-control" />
                  </div>
                </div>
                <hr class="border-light m-0" />
                <div class="card-body pb-2">
                </div>
                <div class="card-body pb-2"></div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="text-right mt-3">
        <div class="box">{{ error }}</div>
        <input type="submit" class="btn btn-primary" value="Save Change"/>
        <button type="button" class="btn-danger">
          <a type="button" href="/">Cancel</a>
        </button>
      </div>
    </form>
    </div>

    <style type="text/css">
      body {
        background: #f5f5f5;
        margin-top: 20px;
      }

      .ui-w-80 {
        width: 80px !important;
        height: auto;
      }

      .btn-default {
        border-color: rgba(24, 28, 33, 0.1);
        background: rgba(0, 0, 0, 0);
        color: #4e5155;
      }

      label.btn {
        margin-bottom: 0;
      }

      .btn-outline-primary {
        border-color: #26b4ff;
        background: transparent;
        color: #26b4ff;
      }

      .btn {
        cursor: pointer;
      }

      .text-light {
        color: #babbbc !important;
      }

      .card {
        background-clip: padding-box;
        box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
      }

      .row-bordered {
        overflow: hidden;
      }

      .account-settings-fileinput {
        position: absolute;
        visibility: hidden;
        width: 1px;
        height: 1px;
        opacity: 0;
      }
      .account-settings-links .list-group-item.active {
        font-weight: bold !important;
      }
      html:not(.dark-style) .account-settings-links .list-group-item.active {
        background: transparent !important;
      }
      .account-settings-multiselect ~ .select2-container {
        width: 100% !important;
      }
      .light-style .account-settings-links .list-group-item {
        padding: 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
      }
      .light-style .account-settings-links .list-group-item.active {
        color: #4e5155 !important;
      }
      .material-style .account-settings-links .list-group-item {
        padding: 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
      }
      .material-style .account-settings-links .list-group-item.active {
        color: #4e5155 !important;
      }
      .dark-style .account-settings-links .list-group-item {
        padding: 0.85rem 1.5rem;
        border-color: rgba(255, 255, 255, 0.03) !important;
      }
      .dark-style .account-settings-links .list-group-item.active {
        color: #fff !important;
      }
      .light-style .account-settings-links .list-group-item.active {
        color: #4e5155 !important;
      }
      .light-style .account-settings-links .list-group-item {
        padding: 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
      }
    </style>
  </body>
</html>
