<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
      body {
        font-family: Arial;
        font-size: 17px;
        padding: 8px;
      }

      * {
        box-sizing: border-box;
      }

      .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        margin: 0 -16px;
      }

      .col-25 {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
      }

      .col-50 {
        -ms-flex: 50%; /* IE10 */
        flex: 50%;
      }

      .col-75 {
        -ms-flex: 75%; /* IE10 */
        flex: 75%;
      }

      .col-25,
      .col-50,
      .col-75 {
        padding: 0 16px;
      }

      .container {
        background-color: #f2f2f2;
        padding: 5px 20px 15px 20px;
        border: 1px solid lightgrey;
        border-radius: 3px;
      }

      input[type="text"] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      label {
        margin-bottom: 10px;
        display: block;
      }

      .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
      }

      .btn {
        background-color: #ff4545;
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
      }

      .btn:hover {
        background-color: #f17070;
      }

      a {
        color: #2196f3;
      }

      hr {
        border: 1px solid lightgrey;
      }

      span.price {
        float: right;
        color: grey;
      }

      @media (max-width: 800px) {
        .row {
          flex-direction: column-reverse;
        }
        .col-25 {
          margin-bottom: 20px;
        }
      }
    </style>
  </head>
  <body>
    <div align="center">
      <h2>Form pengisian alamat</h2>
      <p>Set your address here</p>
    </div>

    <div class="row">
      <div class="col-75">
        <div class="container">
          <form action="{{url_for('address')}}" method="post">
            {% for user in data_user %}
            <div class="row">
              <div class="col-50">
                <label>Recipient's Name </label>
                <input type="hidden" name="nama_barang" value="{{barang}}" required />
                <input type="hidden" name="username" value="{{user[1]}}" required />
                <input type="text" name="penerima" placeholder="Nama Penerima" required />
                <label>Full Address</label>
                <input type="text" name="alamat" placeholder="Alamat Lengkap" required />
                <label>Kota</label>
                <select name="kota">
                  <option value="Bandung">Kota Bandung</option>
                  <option value="Jakarta">Kota Jakarta</option>
                  <option value="Yogya">Kota Yogya</option>
                  <option value="Bogor">Kota Bogor</option>
                </select>

                <div class="row">
                  <!--<div class="col-50">
                    <label for="state">Kecamatan</label>
                    <input type="text" id="state" name="state" placeholder="" required />
                  </div>-->
                </div>
              </div>

              <div class="col-50">
                <label>Phone Number</label>
                <input type="text" name="no_telepon" placeholder="No Telepon" required />
                <label>Zip Code</label>
                <input type="text" name="kode_pos" placeholder="Kode Pos" required />
                <!--<label for="note">Note (Optional)</label>
                <input type="text" id="note" name="note" placeholder="" />-->
              </div>
            </div>
            <input type="submit" value="Submit" class="btn" />
            {% endfor %}
          </form>
        </div>
      </div>
      <div class="col-30"></div>
    </div>
  </body>
</html>
