<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% for produk in produks %}
        <title>{{produk.1}}</title>
        {% endfor %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">BidyShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('all_products')}}">All Products</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if 'username' not in session %}
                                <li><a class="dropdown-item" href="{{url_for('login')}}">Register/Login</a></li>
                                {% endif %}

                                <li><hr class="dropdown-divider" /></li>
                                {% if 'username' in session %}
                                <li><a class="dropdown-item" href="{{url_for('status_pengiriman')}}">Delivery Status</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <form action="{{url_for('product_details')}}" method="POST" class="d-flex">
                        <div class=""><a class="btn btn-outline-dark mt-auto" href="{{url_for('cart')}}">
                            <i class="bi-cart-fill me-1"></i>
			                Cart</a>
                        </div>
                        {% if 'username' in session %}
                        <div class=""><a class="btn btn-outline-dark mt-auto" href="{{url_for('account')}}">
                            <i class="bi-person-fill me-1"></i>
                            Profile
                        </a>
                        </div>
                        {% endif %}
                    </div>
                </nav>
    
        <!-- Product section-->
        {% for produk in produks %}
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="static/assets/images/{{produk.6}}/{{produk.7}}"  alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">Category: {{produk.6}}</div>
                        <h1 class="display-5 fw-bolder">{{produk.1}}</h1>
                        <div class="fs-5 mb-5">
                            <span>Price: Rp.{{produk.2}},-</span>
                        </div>
                        <p class="lead">
                            {{produk.3}}
                        </p>
                        
                        <div class="d-flex">
                            <input name="quantity" class="form-control text-center me-3" type="num" placeholder="1" min="1" max="{{produk.5}}" style="max-width: 3rem" required />
                            <i class="bi-cart-fill me-1"><input class="btn btn-outline-dark flex-shrink-0" type="submit" value="Add to Cart"></i>

                            {% endfor %}
                        </div>
                    </div>
                </form> 
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Maybe you like it</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for produk in recom_produk %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="static/assets/images/{{produk.6}}/{{produk.7}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{produk.1}}</h5>
                                    <!-- Product price-->
                                    Rp. {{produk.2}},-
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/product_details?view={{produk.0}}">Product details</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
                
                
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BidyShop 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
    </body>
</html>

