<!doctype html>
    <html>
        <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>BidyShop</title>
        <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet'>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
        <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <style> @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

 body {
     background-color: #eeeeee;
     font-family: 'Open Sans', serif;
     font-size: 14px
 }

 .mt-100 {
     margin-top: 150px
 }

 .filter-group {
     border-bottom: 1px solid #e4e4e4
 }

 .card {
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: 0.37rem
 }

 .card-header {
     padding: 0.75rem 1.25rem;
     margin-bottom: 0;
     background-color: #fff;
     border-bottom: 1px solid rgba(0, 0, 0, 0.1)
 }

 .filter-group .card-header {
     border-bottom: 0
 }

 .icon-control {
     margin-top: 6px;
     float: right;
     font-size: 80%
 }

 .list-menu {
     list-style: none;
     margin: 0;
     padding-left: 0
 }

 .list-menu a {
     color: #343a40
 }

 a {
     text-decoration: none !important;
     background-color: transparent
 }

 .checkbox-btn {
     position: relative
 }

 .checkbox-btn input {
     position: absolute;
     z-index: -1;
     opacity: 0
 }

 .checkbox-btn input:checked~.btn {
     border-color: #343a40;
     background-color: #343a40;
     color: #fff
 }

 .btn-light {
     display: inline-block;
     font-weight: 600;
     color: #343a40;
     text-align: center;
     vertical-align: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     background-color: #eee;
     border: 1px solid #eee;
     padding: 0.45rem 0.85rem;
     font-size: 10px;
     line-height: 1.5;
     border-radius: 0.37rem
 }

 .btn-light:hover {
     background-color: #fff;
     border-color: #989898
 }

 .btn-medium {
     font-size: 12px;
     padding: 10px 22px;
     display: inline-block;
     margin-right: 20px;
     letter-spacing: 2px;
     border: 1px solid #343a40;
     width: 100%
 }

 .highlight-button:hover {
     background-color: #343a40;
     border: 2px solid #343a40;
     color: #fff
 }

 .custom-control {
     position: relative;
     display: block;
     min-height: 1.5rem;
     padding-left: 1.5rem
 }</style>
    </head>
    <body class='snippet-body'>
    <div class="container-fluid mt-100">
     <div class="row d-flex justify-content-center">
         <div class="col-md-4">
             <div class="card">
                 <article class="filter-group">
                     <header class="card-header"> <a href="" data-toggle="collapse" data-target="#collapse_aside1" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                             <h6 class="title">Categories </h6>
                         </a> </header>
                     <div class="filter-content collapse" id="collapse_aside1">
                    <form action="{{url_for('filter')}}" method="POST">
                        <div class="card-body">
                            
                        <label class="custom-control"> 
                            <input type="checkbox" class="custom-control-input" name = "barang" value="Tshirt">
                            <div class="custom-control-label">T-shirt </div>
                        </label>
                         
                        <label class="custom-control"> 
                            <input type="checkbox" class="custom-control-input" name = "barang" value="Tas">
                            <div class="custom-control-label">Tas </div>
                        </label> 

                        <label class="custom-control"> 
                            <input type="checkbox"  class="custom-control-input" name = "barang" value="Watch"> 
                            <div class="custom-control-label">Jam Tangan</div>
                        </label> 

                        <label class="custom-control"> 
                            <input type="checkbox"  class="custom-control-input" name = "barang" value="Kemeja"> 
                            <div class="custom-control-label">Kemeja</div>
                        </label> 

                    </div>
                    </div>
                </article>
                 <article class="filter-group">
                     <header class="card-header"> 
                        <a href="" data-toggle="collapse" data-target="#collapse_aside2" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Price </h6>
                         </a> 
                        </header>
                         <div class="filter-content collapse" id="collapse_aside2">
                         <div class="card-body"> 
                             <!-- <input type="range" class="custom-range" min="0" max="100" name=""> -->
                             <div class="form-row">
                                 <div class="form-group col-md-6"> <label>Min</label> 
                                    <input class="form-control" name="min" placeholder="Rp.1000" type="number"> </div>

                                 <div class="form-group text-right col-md-6"> <label>Max</label> 
                                    <input class="form-control" name="max" placeholder="Rp.10.000.000" type="number"> </div>
                                </div>

                            </div>
                        </article>
                        <article class="filter-group">
                            <header class="card-header"> 
                                <a href="" data-toggle="collapse" data-target="#collapse_aside4" data-abc="true" class="collapsed" aria-expanded="false"> <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Rating </h6>
                            </a> 
                        </header>
                            <div class="filter-content collapse" id="collapse_aside4">
                                </label> 
                                
                                <label class="custom-control"> 
                                    <input type="checkbox" class="custom-control-input" name = "most_buy" value="1">
                                    <div class="custom-control-label">Most Buyyed Product</div>
                                </label>

                                <label class="custom-control"> 
                                    <input type="checkbox" class="custom-control-input" name="most_view" value="10">
                                    <div class="custom-control-label">Most View Product</div>
                                </label>

                            </div>
                        </div>
                        <a href="{{url_for('index')}}" ><button type="submit" class="highlight-button btn btn-medium button xs-margin-bottom-five" data-abc="true">Apply Now</button></a>
                     </form>
                    </div>
                </article>
            </div>
         </div>
     </div>
 </div>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src=''></script>
    <script type='text/javascript' src=''></script>
    <script type='text/Javascript'></script>
    </body>
</html>