<!DOCTYPE html>
<html lang="en">
<!-- halaman ini berdasarkan tutorial yang ada di ytb & github-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <!-- Glidejs -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">

  <!-- Custom StyleSheet -->
  <link rel="stylesheet" href="/static/style.css" />
  <title>BidyShop</title>
</head>
<body>

  <!-- Navigation -->
  <nav class="nav">
    <div class="wrapper container">
      <div class="logo"><a href="">BidyShop</a></div>
      <ul class="nav-list">
        <div class="top">
          <label for="" class="btn close-btn"><i class="fas fa-times"></i></label>
        </div>
        <li><a href="index.html">Home</a></li>
        <li><a href="products.html">Products</a></li>
        <li>
          <a href="" class="desktop-item">Shop <span><i class="fas fa-chevron-down"></i></span></a>
          <input type="checkbox" id="showMega" />
          <label for="showMega" class="mobile-item">Shop <span><i class="fas fa-chevron-down"></i></span></label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="{{url_for('static', filename = 'images/woman.jpg')}}" alt="" />
              </div>
              <div class="row">
                <header>Categories</header>
                <ul class="mega-links">
                  <li><a href="{{url_for('login')}}">T-shirt</a></li>
                  <li><a href="{{url_for('login')}}">Kemeja</a></li>
                  <li><a href="{{url_for('login')}}">Peralatan Rumah Tangga</a></li>
                  <li><a href="{{url_for('login')}}">Hobbies</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Filter Layout</header>
                <ul class="mega-links">
                  <li><a href="#">Sidebar</a></li>
                  <li><a href="#">Filter Default</a></li>
                  <li><a href="#">Filter Drawer</a></li>
                  <li><a href="#">Filter Dropdown</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="" class="desktop-item">Login/Register <span><i class="fas fa-chevron-down"></i></span></a>
          <input type="checkbox" id="showdrop1" />
          <label for="showdrop1" class="mobile-item">Vendors <span><i class="fas fa-chevron-down"></i></span></label>
          <ul class="drop-menu1">
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
          </ul>
        </li>

        <li>
          <a href="" class="desktop-item">Page <span><i class="fas fa-chevron-down"></i></span></a>
          <input type="checkbox" id="showdrop2" />
          <label for="showdrop2" class="mobile-item">Page <span><i class="fas fa-chevron-down"></i></span></label>
          <ul class="drop-menu2">
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </li>
        <!-- icons -->
        <li class="icons">
          <span>
            <img src="{{url_for('static', filename = 'images/shoppingBag.svg')}}" alt="" />
            <small class="count d-flex">0</small>
          </span>
          <span><img src="{{url_for('static', filename = 'images/search.svg')}}" alt="" /></span>
        </li>
      </ul>
      <label for="" class="btn open-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>

  

  <!-- posisi Atas buat milih kategori -->

  <section class="section promotion">
    <div class="title">
      <h2>Belanja Gan?, disini aja.</h2>
      <span>Jaminan Harga murah, kualitas super, Ori. nggak akan mengecewakan deh :)</span>
    </div>

    <div class="promotion-layout container">
      <div class="promotion-item">
        <img src="{{url_for('static', filename = 'images/promo1.jpg')}}" alt="" />
        <div class="promotion-content">
          <h3>T-SHIRTS</h3>
          <a href="{{url_for('login')}}">BELI SEKARANG</a>
        </div>
      </div>

      <div class="promotion-item">
        <img src="{{url_for('static', filename = 'images/celana nevada.jpeg')}}" alt="" />
        <div class="promotion-content">
          <h3>CELANA</h3>
          <a href="{{url_for('login')}}">BELI SEKARANG</a>
        </div>
      </div>

      <div class="promotion-item">
        <img src="{{url_for('static', filename = 'images/kemeja.jpeg')}}" alt="" />
        <div class="promotion-content">
          <h3>KEMEJA</h3>
          <a href="{{url_for('login')}}">BELI SEKARANG</a>
        </div>
      </div>

      <div class="promotion-item">
        <img src="{{url_for('static', filename = 'images/perabotan.jpg')}}" alt="" />
        <div class="promotion-content">
          <h3>PERABOTAN</h3>
          <a href="{{url_for('login')}}">BELI SEKARANG</a>
        </div>
      </div>

      <div class="promotion-item">
        <img src="{{url_for('static',filename = 'images/mainan.jpg')}}" alt="" />
        <div class="promotion-content">
          <h3>MAINAN</h3>
          <a href="">BELI SEKARANG</a>
        </div>
      </div>

      <div class="promotion-item">
        <img src="{{url_for('static', filename = 'images/hobi.jpg')}}" alt="" />
        <div class="promotion-content">
          <h3>HOBI</h3>
          <a href="">BELI SEKARANG</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Products baru ditambahkan masuk kesini-->
  <section class="section products">
    <div class="title">
      <h2>Produk Terbaru</h2>
      <span>Produk terbaru dijamin Ori.</span>
    </div>

  <div class="product-layout">
    <div class="product">
      <a href="">T-Shirt</a>
      {% for produk in tshirt %}
      {% if produk %}
      <div class="img-container">     
        <img src="static/images/T-shirt/{{produk.6}}" alt=""/>
        <div class="addCart">
          <i class="fas fa-shopping-cart"></i>
        </div>

        <ul class="side-icons">
          <span><i class="fas fa-search"></i></span>
          <span><i class="far fa-heart"></i></span>
          <span><i class="fas fa-sliders-h"></i></span>
        </ul>
      </div>
      <div class="bottom">
        <a href="">{{produk[1]}}</a>
        <div class="price">
          <span>Rp. {{produk[2]}}</span>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="product">
      <a href="">Tas</a>
      {% for produk in Tas %}
      {% if produk %}
      <div class="img-container">
        <img src="static/images/Tas/{{produk.6}}" alt="" />
        <div class="addCart">
          <i class="fas fa-shopping-cart"></i>
        </div>

        <ul class="side-icons">
          <span><i class="fas fa-search"></i></span>
          <span><i class="far fa-heart"></i></span>
          <span><i class="fas fa-sliders-h"></i></span>
        </ul>
      </div>
      <div class="bottom">
        <a href="">{{produk.1}}</a>
        <div class="price">
          <span>Rp. {{produk.2}}</span>
        </div>
      </div>
      {% endif %}
      {% endfor %}    
    </div>

    <div class="product">
      <a href="">Jam Tangan</a>
      {% for produk in Jam %}
      {% if produk %}
      <div class="img-container">
        <img src="static/images/Watch/{{produk.6}}" alt="" />
        <div class="addCart">
          <i class="fas fa-shopping-cart"></i>
        </div>

        <ul class="side-icons">
          <span><i class="fas fa-search"></i></span>
          <span><i class="far fa-heart"></i></span>
          <span><i class="fas fa-sliders-h"></i></span>
        </ul>
      </div>
      <div class="bottom">
        <a href="">{{produk.1}}</a>
        <div class="price">
          <span>Rp. {{produk.2}}</span>
        </div>
      </div>
      {% endif %}
      {% endfor %}    
    </div>
  </div>
  </section>
  
  <!-- EVENT DI STORE (KALAU ADA) -->
  <section class="section advert">
    <div class="advert-layout container">
      <div class="item ">
        <img src="{{url_for('static', filename = 'images/promo7.jpg')}}" alt="">
        <div class="content left">
          <span>Exclusive Sales</span>
          <h3>Spring Collections</h3>
          <a href="">View Collection</a>
        </div>
      </div>
      <div class="item">
        <img src="{{url_for('static', filename = 'images/promo8.jpg')}}" alt="">
        <div class="content  right">
          <span>New Trending</span>
          <h3>Designer Bags</h3>
          <a href="">Shop Now </a>
        </div>
      </div>
    </div>
  </section>

 
  

  <!-- Footer -->
  <footer id="footer" class="section footer">
    <div class="container">
      <div class="footer-container">
        <div class="footer-center">
          <h3>EXTRAS</h3>
          <a href="#">Brands</a>
          <a href="#">Gift Certificates</a>
          <a href="#">Affiliate</a>
          <a href="#">Specials</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>INFORMATION</h3>
          <a href="#">About Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Contact Us</a>
          <a href="#">Site Map</a>
        </div>
        <div class="footer-center">
          <h3>MY ACCOUNT</h3>
          <a href="#">My Account</a>
          <a href="#">Order History</a>
          <a href="#">Wish List</a>
        </div>
      </div>
    </div>
    </div>
  </footer>
  <!-- End Footer -->

  <!-- Glidejs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>

  <!-- JS -->
  <script src="./js/products.js"></script>
  <script src="./js/slider.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>

