<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Order Status</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

      body {
        background-color: #eeeeee;
        font-family: "Open Sans", serif;
      }

      .container {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.1rem;
      }

      .card-header:first-child {
        border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0;
      }

      .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .track {
        position: relative;
        background-color: #ddd;
        height: 7px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 60px;
        margin-top: 50px;
      }

      .track .step {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 25%;
        margin-top: -18px;
        text-align: center;
        position: relative;
      }

      .track .step.active:before {
        background: #343a40;
      }

      .track .step::before {
        height: 7px;
        position: absolute;
        content: "";
        width: 100%;
        left: 0;
        top: 18px;
      }

      .track .step.active .icon {
        background: #343a40;
        color: #fff;
      }

      .track .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: relative;
        border-radius: 100%;
        background: #ddd;
      }

      .track .step.active .text {
        font-weight: 400;
        color: #000;
      }

      .track .text {
        display: block;
        margin-top: 7px;
      }

      .itemside {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
      }

      .itemside .aside {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0;
      }

      .img-sm {
        width: 80px;
        height: 80px;
        padding: 7px;
      }

      ul.row,
      ul.row-sm {
        list-style: none;
        padding: 0;
      }

      .itemside .info {
        padding-left: 15px;
        padding-right: 7px;
      }

      .itemside .title {
        display: block;
        margin-bottom: 5px;
        color: #212529;
      }

      p {
        margin-top: 0;
        margin-bottom: 1rem;
      }

      .btn-warning {
        color: #ffffff;
        background-color: #343a40;
        border-color: #343a40;
        border-radius: 1px;
      }

      .btn-warning:hover {
        color: #ffffff;
        background-color: #212529;
        border-color: #212529;
        border-radius: 1px;
      }
    </style>
  </head>

  <body oncontextmenu="return false" class="snippet-body">
    <!-- nyobain -->

    <div class="container">
      <article class="card">
        <header class="card-header">My Orders</header>
        <!-- path -->
        <div class="card-body">
          <h6>Order ID: {{order_id}}</h6>
          <!-- disini isi order ID -->
          <article class="card">
            <div class="card-body row">
              
              <div class="col"><strong>Tanggal Pembelian:</strong> <br />{{pembelian}}</div>
              <div class="col"><strong>Estimated Pengiriman:</strong> <br />{{estimate_time}}</div>
              <!-- estimasi barang sampe -->
              {% for informasi in informasi %}
              <div class="col">
                <strong>Status:</strong> <br />
                {{informasi[6]}}
              </div>
              <!-- Status kocak -->
            </div>
          </article>
          <div class="track">
            <!-- Intinya ini stepbar-->
            <div class="step active">
              <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span>
            </div>
            <div class={% if informasi[6] == "Barang sedang dikemas" %} "step active" {% elif informasi[6] == "Pesanan sedang dikirim" %} "step active" {% elif informasi[6] == "Pesanan sedang dikirim" %} "step active" {% elif informasi[6] == "Sudah diterima" %} "step active" {% else %} "step" {% endif %}>
              <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Order Prepared </span>
            </div>
            <div class={% if informasi[6] == "Pesanan sedang dikirim" %} "step active" {% elif informasi[6] == "Sudah diterima" %} "step active" {% else %} "step" {% endif %}>
              <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span>
            </div>
            <div class={% if informasi[6] == "Sudah diterima" %} "step active" {% else %} "step" {% endif %}>
              <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Delivered</span>
            </div>
          </div>
          <hr />
          {% for row_barang in data_barang %}
          <ul class="row">
            <!-- tampilan barang yang dipesen-->
            <li class="col-md-4">
              <figure class="itemside mb-3">
                <div class="aside"><img src="/static/assets/images/{{row_barang[4]}}/{{row_barang[5]}}" class="img-sm border" /></div>
                <figcaption class="info align-self-center">
                  <p class="title">{{barang}} <br /></p>
                  <span class="text-muted">{{row_barang[2]}} x {{row_barang[3]}} </span>
                </figcaption>
              </figure>
              {% if informasi[6] == "Pesanan sedang dikirim" %}<button><a href="/validasi" onclick="return confirm('Apakah Anda yakin pesanan sudah diterima?')" class="btn btn-warning" data-abc="true"> Terima Pesanan</a></button>{% endif %}
            </li>
          </ul>
          {% endfor %}
          {% endfor %}
          <span class="text-muted">Total: {{session['total']}} </span>
          <hr />
          <a href="/" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back</a>
          <!-- kembali ke home -->
        </div>
      </article>
    </div>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src=""></script>
    <script type="text/javascript" src=""></script>
    <script type="text/Javascript"></script>
  </body>
</html>
